<footer class="block block--dark footer">
  <div class="container grid footer__sections">
    <section class="collapsible collapsible--expanded footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Products</h2>
        <svg class="icon icon--accent collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <li><a href="#">Website Hosting</a></li>
        <li><a href="#">Automated WordPress</a></li>
        <li><a href="#">Migrations</a></li>
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Services</h2>
        <svg class="icon icon--accent collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <div class="collapsible__content">
          <li><a href="#">Website Hosting</a></li>
          <li><a href="#">Automated WordPress</a></li>
          <li><a href="#">Migrations</a></li>
        </div>
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Contact</h2>
        <svg class="icon icon--accent collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <div class="collapsible__content">
          <li><a href="#">Phone Number</a></li>
          <li><a href="#">Email</a></li>
          <li><a href="#">Location</a></li>
        </div>
      </div>
    </section>
    <section class="footer__brand">
      <img src="images/pagsifylogo.png" alt="" />
      <p class="footer__copyright">Copyright &copy 2022 Ryan Paglione</p>
    </section>
  </div>
</footer>
